p{
	color:#699;
	font-family: 'Titillium Web', sans-serif;
	font-size: 110%;
}

h1{
	color: #06c;
	font-family: 'Titillium Web', sans-serif;
	font-size: 175%;
}

h2{
	color: #3cf;
	font-family: 'Titillium Web', sans-serif;
	font-size: 175%
}

#nav {
	list-style: none;
	display: flex;
}

#nav li {
	width: 100%;
	text-align: center;
	background-color: #0fc;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

#nav li a {
	text-decoration: none;
	font-size: 125%; 
	color: #06c;
	font-weight: bold;
	display: block;
	text-align: center;
	height: 50px;
	font-family: 'Titillium Web', sans-serif;
}

#top p{
	color: #06c;
	font-size: 300%;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
