p{
	color:#0863a2;
	font-family: 'Titillium Web', sans-serif;
}

h1{
	color: #0863a2;
	font-family: 'Titillium Web', sans-serif;
}

h2{
	color:#0aa9eb;
	font-family: 'Titillium Web', sans-serif;
}

h3{
	color:#0aa9eb;
	font-family: 'Titillium Web', sans-serif;
}

h4{
	color:#8dd97b;
	font-family: 'Titillium Web', sans-serif;
}

#nav {
	list-style: none;
	display: flex;
}

#nav li {
	width: 100%;
	text-align: center;
	background-color: #03f3b8;
	height: 50px;
	line-height: 50px;
	margin-right: 2px;
}

#nav li a {
	text-decoration: none;
	font-size: 30px; 
	color: #0863a2;
	font-weight: bold;
	display: block;
	text-align: center;
	height: 40rem;
	font-family: 'Titillium Web', sans-serif;
}

#top {
	color:#0863a2;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
