body{
	background-color : #123;
}

.big {
	font-size : 270%;
	font-family: 'Arsenal', cursive;
	color : #fff;
}

.copyright {
	font-size : 110%;
	font-family : 'Arsenal', sans-serif;
	text-align : center;
}

p{
	font-size : 110%;
	font-family: 'Arsenal', sans-serif;
	color : #666;
}

#menu {
	list-style: none;
	display: flex;
}

#menu li {
	width: 100%;
	text-align: center;
	background-color: #123;
	height: 50px;
	line-height: 10%; 
	transition: all 0ms 200ms ease;
}

#menu li a {
	text-decoration: none;
	font-size: 170%; 
	color: #666;
	display: block;
	text-align: center;
	height: 50px;
	font-family: 'Arsenal', sans-serif;
	text-decoration: none;
    transition: 1.0s;
}

#menu li a:hover {
	color: #06c;
}

.top h1{
	color: #fff;
	text-align: center;
	font-size: 350%;
	text-decoration: none;
}

.top p {
	color: #fff;
	text-align: center;
	font-size: 350%;
}

.pirka {
	text-align: center;
}

.pirka h1{
	color: #06c;
	font-size: 250%;
	font-family: 'Comfortaa', sans-serif;
}

.home {
	margin : 5% 5% 8% 15%;
	width: 70%;
}

.code {
	margin : 5% 5% 8% 15%;
	width: 70%;
}

.news {
	margin : 5% 5% 8% 15%;
	width: 70%;
}

.creator {
	margin : 5% 5% 8% 15%;
	width: 70%;
}

a {
	text-decoration: none;
	color: #06c;
}
